In [1]:
import numpy as np

_frequencies = [1265, 897, 643, 1190, 521, 1688, 778, 1999, 1690, 1433, 1796, 1266, 1046, 1353]
frequencies = np.array(_frequencies) / np.array(_frequencies).sum()

frequencies

array([0.07201822, 0.05106746, 0.03660689, 0.06774836, 0.02966126,
       0.0961002 , 0.04429263, 0.11380586, 0.09621406, 0.08158269,
       0.10224879, 0.07207515, 0.05955024, 0.07702818])

In [ ]:
a = TiDBHypo("imdbload")
# b = a.execute_create_hypo("aka_name#surname_pcode")
b = a.get_hypo_indexes_from_one_table("aka_name")
b
# a.test()

In [ ]:

string = "KEY `hypo_aka_name_name_pcode_nf_idx` (`name_pcode_nf`) /* HYPO INDEX */"

if "HYPO INDEX" in string:
    tmp = string.split("`")
    idx_name = tmp[1]
    table_name = "aka_name"
    hypo = f"{table_name}.{idx_name}"
    print(hypo)

In [ ]:
import numpy as np

np.zeros(60, dtype=np.cfloat)

In [ ]:
import pymysql


def get_hypo_indexes_from_table(conn, table_name):
    statement = f"show create table {table_name}"
    cur = conn.cursor()
    result = cur.execute(statement)
    hypo_indexes = []
    for line in result[1].split("\n"):
        if "HYPO INDEX" in line:
            tmp = line.split("`")
            hypo_indexes.append(tmp[1])
    return hypo_indexes
    
    

conn = pymysql.connect(host='127.0.0.1',
                     port=4000,
                     user='root',
                     password='',
                     database="imdbload",
                     local_infile=True)

cur = conn.cursor()



statement = "create index hypo_aka_name_name_pcode_nf_idx type hypo on aka_name (name_pcode_nf);"
s2 = "show create table aka_name;"


cur.execute(statement)

print(get_hypo_indexes_from_table(conn, "aka_name"))

cur.execute(s2)

print(cur.fetchall())

In [2]:
indexes = [1.0, 0.0, 1.0]
index_candidates=["123","423123", "23123"]

selected_indexes = [index_candidates[i] for i, idx in enumerate(indexes) if idx == 1.0]

selected_indexes

['123', '23123']

In [9]:
import numpy as np

action = np.random.randint(0, 65)



a = np.float64(0)
a

0.0

In [10]:
l = ['customer#c_custkey,c_mktsegment', 'lineitem#l_commitdate,l_receiptdate', 'lineitem#l_orderkey,l_receiptdate', 'lineitem#l_orderkey,l_shipdate', 'lineitem#l_partkey', 'lineitem#l_partkey,l_quantity,l_extendedprice', 'lineitem#l_partkey,l_shipdate', 'lineitem#l_partkey,l_suppkey', 'lineitem#l_partkey,l_suppkey,l_shipdate', 'lineitem#l_receiptdate', 'lineitem#l_returnflag', 'lineitem#l_shipdate', 'lineitem#l_shipmode', 'lineitem#l_suppkey', 'lineitem#l_suppkey,l_partkey', 'lineitem#l_suppkey,l_partkey,l_shipdate', 'nation#n_name', 'nation#n_name,n_nationkey', 'nation#n_nationkey', 'nation#n_nationkey,n_name', 'nation#n_regionkey', 'orders#o_custkey', 'orders#o_custkey,o_orderdate', 'orders#o_orderkey', 'orders#o_orderkey,o_orderdate', 'orders#o_orderkey,o_orderdate,o_custkey', 'orders#o_orderkey,o_orderstatus', 'orders#o_orderstatus,o_orderkey', 'part#p_brand', 'part#p_brand,p_container,p_partkey', 'part#p_brand,p_partkey', 'part#p_brand,p_partkey,p_container', 'part#p_container,p_brand', 'part#p_container,p_brand,p_partkey', 'part#p_container,p_partkey', 'part#p_container,p_partkey,p_brand', 'part#p_partkey,p_brand,p_container', 'part#p_partkey,p_container', 'part#p_partkey,p_container,p_brand', 'part#p_partkey,p_type', 'partsupp#ps_availqty', 'partsupp#ps_partkey', 'partsupp#ps_partkey,ps_availqty,ps_suppkey', 'partsupp#ps_partkey,ps_suppkey', 'partsupp#ps_partkey,ps_suppkey,ps_availqty', 'partsupp#ps_suppkey', 'partsupp#ps_suppkey,ps_availqty,ps_partkey', 'partsupp#ps_suppkey,ps_partkey', 'partsupp#ps_suppkey,ps_partkey,ps_availqty', 'region#r_name', 'region#r_name,r_regionkey', 'region#r_regionkey,r_name']
len(l)

52

In [8]:
#读取../entry/cands.pickle打印成数组，并输出长度
import pickle

def count_distinct_prefix(strings):
    distinct_prefixes = set()
    for string in strings:
        prefix = string.split('#')[0]
        distinct_prefixes.add(prefix)
    return distinct_prefixes

with open("../entry/cands.pickle", "rb") as f:
    cands = pickle.load(f)
    add = list(count_distinct_prefix(cands))
    add_with_prefix = [f"{prefix}#tiflash" for prefix in add]
    print(add_with_prefix)
    cands.extend(add_with_prefix)
    with open('../entry/cands2.pickle', 'wb') as file:
        pickle.dump(cands, file)
    # cands.append("customer#tiflash")
    # print(len(cands))
print(len(cands))
print(cands)

['partsupp#tiflash', 'orders#tiflash', 'customer#tiflash', 'part#tiflash', 'lineitem#tiflash', 'supplier#tiflash', 'region#tiflash', 'nation#tiflash']
89
['customer#c_custkey', 'customer#c_custkey,c_mktsegment', 'customer#c_mktsegment', 'customer#c_mktsegment,c_custkey', 'customer#c_nationkey', 'lineitem#l_commitdate', 'lineitem#l_commitdate,l_receiptdate', 'lineitem#l_orderkey', 'lineitem#l_orderkey,l_receiptdate', 'lineitem#l_orderkey,l_returnflag', 'lineitem#l_orderkey,l_shipdate', 'lineitem#l_orderkey,l_shipmode', 'lineitem#l_partkey', 'lineitem#l_partkey,l_quantity', 'lineitem#l_partkey,l_quantity,l_extendedprice', 'lineitem#l_partkey,l_shipdate', 'lineitem#l_partkey,l_suppkey', 'lineitem#l_partkey,l_suppkey,l_shipdate', 'lineitem#l_quantity', 'lineitem#l_receiptdate', 'lineitem#l_receiptdate,l_commitdate', 'lineitem#l_returnflag', 'lineitem#l_returnflag,l_orderkey', 'lineitem#l_shipdate', 'lineitem#l_shipmode', 'lineitem#l_shipmode,l_orderkey', 'lineitem#l_suppkey', 'lineitem#l_suppkey,l_partkey', 'lineitem#l_suppkey,l_partkey,l_shipdate', 'lineitem#l_suppkey,l_shipdate', 'nation#n_name', 'nation#n_name,n_nationkey', 'nation#n_nationkey', 'nation#n_nationkey,n_name', 'nation#n_regionkey', 'orders#o_custkey', 'orders#o_custkey,o_orderdate', 'orders#o_custkey,o_orderdate,o_orderkey', 'orders#o_orderdate', 'orders#o_orderkey', 'orders#o_orderkey,o_orderdate', 'orders#o_orderkey,o_orderdate,o_custkey', 'orders#o_orderkey,o_orderdate,o_orderpriority', 'orders#o_orderkey,o_orderstatus', 'orders#o_orderstatus', 'orders#o_orderstatus,o_orderkey', 'part#p_brand', 'part#p_brand,p_container', 'part#p_brand,p_container,p_partkey', 'part#p_brand,p_partkey', 'part#p_brand,p_partkey,p_container', 'part#p_container', 'part#p_container,p_brand', 'part#p_container,p_brand,p_partkey', 'part#p_container,p_partkey', 'part#p_container,p_partkey,p_brand', 'part#p_partkey', 'part#p_partkey,p_brand', 'part#p_partkey,p_brand,p_container', 'part#p_partkey,p_container', 'part#p_partkey,p_container,p_brand', 'part#p_partkey,p_type', 'part#p_type', 'part#p_type,p_partkey', 'partsupp#ps_availqty', 'partsupp#ps_partkey', 'partsupp#ps_partkey,ps_availqty', 'partsupp#ps_partkey,ps_availqty,ps_suppkey', 'partsupp#ps_partkey,ps_suppkey', 'partsupp#ps_partkey,ps_suppkey,ps_availqty', 'partsupp#ps_suppkey', 'partsupp#ps_suppkey,ps_availqty', 'partsupp#ps_suppkey,ps_availqty,ps_partkey', 'partsupp#ps_suppkey,ps_partkey', 'partsupp#ps_suppkey,ps_partkey,ps_availqty', 'region#r_name', 'region#r_name,r_regionkey', 'region#r_regionkey', 'region#r_regionkey,r_name', 'supplier#s_nationkey', 'supplier#s_suppkey', 'partsupp#tiflash', 'orders#tiflash', 'customer#tiflash', 'part#tiflash', 'lineitem#tiflash', 'supplier#tiflash', 'region#tiflash', 'nation#tiflash']

In [9]:
import pickle

with open("../entry/workload.pickle", "rb") as f:
    workload = pickle.load(f)
    print(workload)

["-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\tl_returnflag,\r\n\tl_linestatus,\r\n\tsum(l_quantity) as sum_qty,\r\n\tsum(l_extendedprice) as sum_base_price,\r\n\tsum(l_extendedprice * (1 - l_discount)) as sum_disc_price,\r\n\tsum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge,\r\n\tavg(l_quantity) as avg_qty,\r\n\tavg(l_extendedprice) as avg_price,\r\n\tavg(l_discount) as avg_disc,\r\n\tcount(*) as count_order\r\nfrom\r\n\tlineitem\r\nwhere\r\n\tl_shipdate <= date '1998-12-01' - interval '63' day\r\ngroup by\r\n\tl_returnflag,\r\n\tl_linestatus\r\norder by\r\n\tl_returnflag,\r\n\tl_linestatus;\r\n", "-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\tl_orderkey,\r\n\tsum(l_extendedprice * (1 - l_discount)) as revenue,\r\n\to_orderdate,\r\n\to_shippriority\r\nfrom\r\n\tcustomer,\r\n\torders,\r\n\tlineitem\r\nwhere\r\n\tc_mktsegment = 'FURNITURE'\r\n\tand c_custkey = o_custkey\r\n\tand l_orderkey = o_orderkey\r\n\tand o_orderdate < date '1995-03-15'\r\n\tand l_shipdate > date '1995-03-15'\r\ngroup by\r\n\tl_orderkey,\r\n\to_orderdate,\r\n\to_shippriority\r\norder by\r\n\trevenue desc,\r\n\to_orderdate\r\n    LIMIT 10;\r\n", "-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\to_orderpriority,\r\n\tcount(*) as order_count\r\nfrom\r\n\torders\r\nwhere\r\n\to_orderdate >= date '1995-05-01'\r\n\tand o_orderdate < date '1995-05-01' + interval '3' month\r\n\tand exists (\r\n\t\tselect\r\n\t\t\t*\r\n\t\tfrom\r\n\t\t\tlineitem\r\n\t\twhere\r\n\t\t\tl_orderkey = o_orderkey\r\n\t\t\tand l_commitdate < l_receiptdate\r\n\t)\r\ngroup by\r\n\to_orderpriority\r\norder by\r\n\to_orderpriority;\r\n", "-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\tn_name,\r\n\tsum(l_extendedprice * (1 - l_discount)) as revenue\r\nfrom\r\n\tcustomer,\r\n\torders,\r\n\tlineitem,\r\n\tsupplier,\r\n\tnation,\r\n\tregion\r\nwhere\r\n\tc_custkey = o_custkey\r\n\tand l_orderkey = o_orderkey\r\n\tand l_suppkey = s_suppkey\r\n\tand c_nationkey = s_nationkey\r\n\tand s_nationkey = n_nationkey\r\n\tand n_regionkey = r_regionkey\r\n\tand r_name = 'MIDDLE EAST'\r\n\tand o_orderdate >= date '1993-01-01'\r\n\tand o_orderdate < date '1993-01-01' + interval '1' year\r\ngroup by\r\n\tn_name\r\norder by\r\n\trevenue desc;\r\n", "-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\tsum(l_extendedprice * l_discount) as revenue\r\nfrom\r\n\tlineitem\r\nwhere\r\n\tl_shipdate >= date '1993-01-01'\r\n\tand l_shipdate < date '1993-01-01' + interval '1' year\r\n\tand l_discount between 0.08 - 0.01 and 0.08 + 0.01\r\n\tand l_quantity < 25;\r\n", "-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\to_year,\r\n\tsum(case\r\n\t\twhen nation = 'KENYA' then volume\r\n\t\telse 0\r\n\tend) / sum(volume) as mkt_share\r\nfrom\r\n\t(\r\n\t\tselect\r\n\t\t\textract(year from o_orderdate) as o_year,\r\n\t\t\tl_extendedprice * (1 - l_discount) as volume,\r\n\t\t\tn2.n_name as nation\r\n\t\tfrom\r\n\t\t\tpart,\r\n\t\t\tsupplier,\r\n\t\t\tlineitem,\r\n\t\t\torders,\r\n\t\t\tcustomer,\r\n\t\t\tnation n1,\r\n\t\t\tnation n2,\r\n\t\t\tregion\r\n\t\twhere\r\n\t\t\tp_partkey = l_partkey\r\n\t\t\tand s_suppkey = l_suppkey\r\n\t\t\tand l_orderkey = o_orderkey\r\n\t\t\tand o_custkey = c_custkey\r\n\t\t\tand c_nationkey = n1.n_nationkey\r\n\t\t\tand n1.n_regionkey = r_regionkey\r\n\t\t\tand r_name = 'AFRICA'\r\n\t\t\tand s_nationkey = n2.n_nationkey\r\n\t\t\tand o_orderdate between date '1995-01-01' and date '1996-12-31'\r\n\t\t\tand p_type = 'LARGE BRUSHED COPPER'\r\n\t) as all_nations\r\ngroup by\r\n\to_year\r\norder by\r\n\to_year;\r\n", "-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\tnation,\r\n\to_year,\r\n\tsum(amount) as sum_profit\r\nfrom\r\n\t(\r\n\t\tselect\r\n\t\t\tn_name as nation,\r\n\t\t\textract(year from o_orderdate) as o_year,\r\n\t\t\tl_extendedprice * (1 - l_discount) - ps_supplycost * l_quantity as amount\r\n\t\tfrom\r\n\t\t\tpart,\r\n\t\t\tsupplier,\r\n\t\t\tlineitem,\r\n\t\t\tpartsupp,\r\n\t\t\torders,\r\n\t\t\tnation\r\n\t\twhere\r\n\t\t\ts_suppkey = l_suppkey\r\n\t\t\tand ps_suppkey = l_suppkey\r\n\t\t\tand ps_partkey = l_partkey\r\n\t\t\tand p_partkey = l_partkey\r\n\t\t\tand o_orderkey = l_orderkey\r\n\t\t\tand s_nationkey = n_nationkey\r\n\t\t\tand p_name like '%pale%'\r\n\t) as profit\r\ngroup by\r\n\tnation,\r\n\to_year\r\norder by\r\n\tnation,\r\n\to_year desc;\r\n", "-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\tc_custkey,\r\n\tc_name,\r\n\tsum(l_extendedprice * (1 - l_discount)) as revenue,\r\n\tc_acctbal,\r\n\tn_name,\r\n\tc_address,\r\n\tc_phone,\r\n\tc_comment\r\nfrom\r\n\tcustomer,\r\n\torders,\r\n\tlineitem,\r\n\tnation\r\nwhere\r\n\tc_custkey = o_custkey\r\n\tand l_orderkey = o_orderkey\r\n\tand o_orderdate >= date '1993-02-01'\r\n\tand o_orderdate < date '1993-02-01' + interval '3' month\r\n\tand l_returnflag = 'R'\r\n\tand c_nationkey = n_nationkey\r\ngroup by\r\n\tc_custkey,\r\n\tc_name,\r\n\tc_acctbal,\r\n\tc_phone,\r\n\tn_name,\r\n\tc_address,\r\n\tc_comment\r\norder by\r\n\trevenue desc\r\n LIMIT 20   ;\r\n", "-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\tl_shipmode,\r\n\tsum(case\r\n\t\twhen o_orderpriority = '1-URGENT'\r\n\t\t\tor o_orderpriority = '2-HIGH'\r\n\t\t\tthen 1\r\n\t\telse 0\r\n\tend) as high_line_count,\r\n\tsum(case\r\n\t\twhen o_orderpriority <> '1-URGENT'\r\n\t\t\tand o_orderpriority <> '2-HIGH'\r\n\t\t\tthen 1\r\n\t\telse 0\r\n\tend) as low_line_count\r\nfrom\r\n\torders,\r\n\tlineitem\r\nwhere\r\n\to_orderkey = l_orderkey\r\n\tand l_shipmode in ('SHIP', 'TRUCK')\r\n\tand l_commitdate < l_receiptdate\r\n\tand l_shipdate < l_commitdate\r\n\tand l_receiptdate >= date '1995-01-01'\r\n\tand l_receiptdate < date '1995-01-01' + interval '1' year\r\ngroup by\r\n\tl_shipmode\r\norder by\r\n\tl_shipmode;\r\n", "-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\t100.00 * sum(case\r\n\t\twhen p_type like 'PROMO%'\r\n\t\t\tthen l_extendedprice * (1 - l_discount)\r\n\t\telse 0\r\n\tend) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue\r\nfrom\r\n\tlineitem,\r\n\tpart\r\nwhere\r\n\tl_partkey = p_partkey\r\n\tand l_shipdate >= date '1995-02-01'\r\n\tand l_shipdate < date '1995-02-01' + interval '1' month;\r\n", "-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\tsum(l_extendedprice) / 7.0 as avg_yearly\r\nfrom\r\n\tlineitem,\r\n\tpart\r\nwhere\r\n\tp_partkey = l_partkey\r\n\tand p_brand = 'Brand#32'\r\n\tand p_container = 'JUMBO BAG'\r\n\tand l_quantity < (\r\n\t\tselect\r\n\t\t\t0.2 * avg(l_quantity)\r\n\t\tfrom\r\n\t\t\tlineitem\r\n\t\twhere\r\n\t\t\tl_partkey = p_partkey\r\n\t);\r\n", '-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\tc_name,\r\n\tc_custkey,\r\n\to_orderkey,\r\n\to_orderdate,\r\n\to_totalprice,\r\n\tsum(l_quantity)\r\nfrom\r\n\tcustomer,\r\n\torders,\r\n\tlineitem\r\nwhere\r\n\to_orderkey in (\r\n\t\tselect\r\n\t\t\tl_orderkey\r\n\t\tfrom\r\n\t\t\tlineitem\r\n\t\tgroup by\r\n\t\t\tl_orderkey having\r\n\t\t\t\tsum(l_quantity) > 313\r\n\t)\r\n\tand c_custkey = o_custkey\r\n\tand o_orderkey = l_orderkey\r\ngroup by\r\n\tc_name,\r\n\tc_custkey,\r\n\to_orderkey,\r\n\to_orderdate,\r\n\to_totalprice\r\norder by\r\n\to_totalprice desc,\r\n\to_orderdate\r\n LIMIT 100;\r\n', "-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\ts_name,\r\n\ts_address\r\nfrom\r\n\tsupplier,\r\n\tnation\r\nwhere\r\n\ts_suppkey in (\r\n\t\tselect\r\n\t\t\tps_suppkey\r\n\t\tfrom\r\n\t\t\tpartsupp\r\n\t\twhere\r\n\t\t\tps_partkey in (\r\n\t\t\t\tselect\r\n\t\t\t\t\tp_partkey\r\n\t\t\t\tfrom\r\n\t\t\t\t\tpart\r\n\t\t\t\twhere\r\n\t\t\t\t\tp_name like 'gainsboro%'\r\n\t\t\t)\r\n\t\t\tand ps_availqty > (\r\n\t\t\t\tselect\r\n\t\t\t\t\t0.5 * sum(l_quantity)\r\n\t\t\t\tfrom\r\n\t\t\t\t\tlineitem\r\n\t\t\t\twhere\r\n\t\t\t\t\tl_partkey = ps_partkey\r\n\t\t\t\t\tand l_suppkey = ps_suppkey\r\n\t\t\t\t\tand l_shipdate >= date '1993-01-01'\r\n\t\t\t\t\tand l_shipdate < date '1993-01-01' + interval '1' year\r\n\t\t\t)\r\n\t)\r\n\tand s_nationkey = n_nationkey\r\n\tand n_name = 'FRANCE'\r\norder by\r\n\ts_name;\r\n", "-- using 1588346809 as a seed to the RNG\n\r\n\r\nselect\r\n\ts_name,\r\n\tcount(*) as numwait\r\nfrom\r\n\tsupplier,\r\n\tlineitem l1,\r\n\torders,\r\n\tnation\r\nwhere\r\n\ts_suppkey = l1.l_suppkey\r\n\tand o_orderkey = l1.l_orderkey\r\n\tand o_orderstatus = 'F'\r\n\tand l1.l_receiptdate > l1.l_commitdate\r\n\tand exists (\r\n\t\tselect\r\n\t\t\t*\r\n\t\tfrom\r\n\t\t\tlineitem l2\r\n\t\twhere\r\n\t\t\tl2.l_orderkey = l1.l_orderkey\r\n\t\t\tand l2.l_suppkey <> l1.l_suppkey\r\n\t)\r\n\tand not exists (\r\n\t\tselect\r\n\t\t\t*\r\n\t\tfrom\r\n\t\t\tlineitem l3\r\n\t\twhere\r\n\t\t\tl3.l_orderkey = l1.l_orderkey\r\n\t\t\tand l3.l_suppkey <> l1.l_suppkey\r\n\t\t\tand l3.l_receiptdate > l3.l_commitdate\r\n\t)\r\n\tand s_nationkey = n_nationkey\r\n\tand n_name = 'EGYPT'\r\ngroup by\r\n\ts_name\r\norder by\r\n\tnumwait desc,\r\n\ts_name\r\n LIMIT 100;\r\n"]

### TPC-DS 的手工候选索引集合

In [16]:
import pickle



candidate_hand = [
    # "store_sales#ss_item_sk,ss_sold_date_sk,ss_ext_sales_price",
    # "item#i_item_sk,i_category,i_class,i_item_id,i_item_desc",
    # "date_dim#d_date_sk",
    # "inventory#inv_item_sk,inv_warehouse_sk,inv_date_sk",
    "warehouse#w_warehouse_sk",
    "item#i_current_price,i_item_sk",
    # "date_dim#d_date_sk",
    "customer_address#ca_address_sk",
    # "customer#c_current_addr_sk,c_customer_sk",
    # "store_sales#ss_customer_sk,ss_sold_date_sk,ss_item_sk",
    # "date_dim#d_date_sk,d_month_seq,d_year,d_moy",
    # "item#i_item_sk,i_current_price,i_category",
    # "web_sales#ws_item_sk,ws_sold_date_sk,ws_ext_sales_price",
    # "item#i_item_sk,i_category,i_class,i_item_id,i_item_desc",
    "date_dim#d_date_sk",
    # "web_sales#ws_web_page_sk,ws_item_sk,ws_order_number,ws_sold_date_sk,ws_sales_price,ws_net_profit",
    # "web_returns#wr_item_sk,wr_order_number,wr_reason_sk,wr_refunded_cdemo_sk,wr_returning_cdemo_sk,wr_refunded_addr_sk,wr_refunded_cash,wr_fee",
    "web_page#wp_web_page_sk",
    # "customer_demographics#cd_demo_sk,cd_marital_status,cd_education_status",
    # "customer_address#ca_address_sk,ca_country,ca_state",
    "date_dim#d_date_sk,d_year",
    "reason#r_reason_sk",
    # "web_sales#ws_item_sk,ws_order_number,ws_sold_date_sk,ws_quantity,ws_net_paid,ws_net_profit",
    # "web_returns#wr_order_number,wr_item_sk,wr_return_quantity,wr_return_amt",
    "date_dim#d_date_sk,d_year,d_moy",
    # "catalog_sales#cs_order_number,cs_item_sk,cs_quantity,cs_net_paid,cs_net_profit",
    # "catalog_returns#cr_order_number,cr_item_sk,cr_return_quantity,cr_return_amount",
    # "store_sales#ss_ticket_number,ss_item_sk,ss_quantity,ss_net_paid,ss_net_profit",
    # "store_returns#sr_ticket_number,sr_item_sk,sr_return_quantity,sr_return_amt",
    # "date_dim#d_date_sk,d_year,d_moy",
    # "store_sales#ss_sold_date_sk,ss_item_sk,ss_ext_sales_price",
    # "item#i_item_sk,i_brand_id,i_brand,i_manager_id",
    # "web_sales#ws_item_sk,ws_sold_date_sk,ws_ext_discount_amt",
    "item#i_manufact_id,i_item_sk",
    "date_dim#d_date,d_date_sk"
]

add = ['call_center#tiflash', 'catalog_page#tiflash', 'catalog_returns#tiflash', 'catalog_sales#tiflash', 'customer#tiflash', 'customer_address#tiflash', 'customer_demographics#tiflash', 'date_dim#tiflash', 'dbgen_version#tiflash', 'household_demographics#tiflash', 'income_band#tiflash', 'inventory#tiflash', 'item#tiflash', 'promotion#tiflash', 'reason#tiflash', 'ship_mode#tiflash', 'store#tiflash', 'store_returns#tiflash', 'store_sales#tiflash', 'time_dim#tiflash', 'warehouse#tiflash', 'web_page#tiflash', 'web_returns#tiflash', 'web_sales#tiflash', 'web_site#tiflash']

candidate_hand.extend(add)

with open("../entry/hand_cands.pickle", "wb") as f:
    pickle.dump(candidate_hand, f)

In [12]:
file_path = "../workload/tpcds/queries.sql"
queries = []

with open(file_path, 'r') as file:
    query = ""
    for line in file:
        line = line.strip()
        if line.startswith('--') or not line:
            continue  # 跳过注释行和空行
        if line.endswith(';'):
            query += line
            queries.append(query)
            query = ""
        else:
            query += line + " "

# 打印标记后的SQL语句
for i, query in enumerate(queries, start=1):
    print(f"Query {i}: {query}")


with open("../entry/tpcds.pickle", "wb") as f:
    pickle.dump(queries, f)

Query 1: select  dt.d_year ,item.i_brand_id brand_id ,item.i_brand brand ,sum(ss_sales_price) sum_agg from  date_dim dt ,store_sales ,item where dt.d_date_sk = store_sales.ss_sold_date_sk and store_sales.ss_item_sk = item.i_item_sk and item.i_manufact_id = 816 and dt.d_moy=11 group by dt.d_year ,item.i_brand ,item.i_brand_id order by dt.d_year ,sum_agg desc ,brand_id limit 100;
Query 2: select  a.ca_state state, count(*) cnt from customer_address a ,customer c ,store_sales s ,date_dim d ,item i where       a.ca_address_sk = c.c_current_addr_sk and c.c_customer_sk = s.ss_customer_sk and s.ss_sold_date_sk = d.d_date_sk and s.ss_item_sk = i.i_item_sk and d.d_month_seq = (select distinct (d_month_seq) from date_dim where d_year = 2002 and d_moy = 3 ) and i.i_current_price > 1.2 * (select avg(j.i_current_price) from item j where j.i_category = i.i_category) group by a.ca_state having count(*) >= 10 order by cnt, a.ca_state limit 100;
Query 3: select  i_item_id, avg(ss_quantity) agg1, avg(ss_list_price) agg2, avg(ss_coupon_amt) agg3, avg(ss_sales_price) agg4 from store_sales, customer_demographics, date_dim, item, promotion where ss_sold_date_sk = d_date_sk and ss_item_sk = i_item_sk and ss_cdemo_sk = cd_demo_sk and ss_promo_sk = p_promo_sk and cd_gender = 'F' and cd_marital_status = 'W' and cd_education_status = 'College' and (p_channel_email = 'N' or p_channel_event = 'N') and d_year = 2001 group by i_item_id order by i_item_id limit 100;
Query 4: select  s_store_name ,sum(ss_net_profit) from store_sales ,date_dim ,store, (select ca_zip from ( SELECT substr(ca_zip,1,5) ca_zip FROM customer_address WHERE substr(ca_zip,1,5) IN ( '47602','16704','35863','28577','83910','36201', '58412','48162','28055','41419','80332', '38607','77817','24891','16226','18410', '21231','59345','13918','51089','20317', '17167','54585','67881','78366','47770', '18360','51717','73108','14440','21800', '89338','45859','65501','34948','25973', '73219','25333','17291','10374','18829', '60736','82620','41351','52094','19326', '25214','54207','40936','21814','79077', '25178','75742','77454','30621','89193', '27369','41232','48567','83041','71948', '37119','68341','14073','16891','62878', '49130','19833','24286','27700','40979', '50412','81504','94835','84844','71954', '39503','57649','18434','24987','12350', '86379','27413','44529','98569','16515', '27287','24255','21094','16005','56436', '91110','68293','56455','54558','10298', '83647','32754','27052','51766','19444', '13869','45645','94791','57631','20712', '37788','41807','46507','21727','71836', '81070','50632','88086','63991','20244', '31655','51782','29818','63792','68605', '94898','36430','57025','20601','82080', '33869','22728','35834','29086','92645', '98584','98072','11652','78093','57553', '43830','71144','53565','18700','90209', '71256','38353','54364','28571','96560', '57839','56355','50679','45266','84680', '34306','34972','48530','30106','15371', '92380','84247','92292','68852','13338', '34594','82602','70073','98069','85066', '47289','11686','98862','26217','47529', '63294','51793','35926','24227','14196', '24594','32489','99060','49472','43432', '49211','14312','88137','47369','56877', '20534','81755','15794','12318','21060', '73134','41255','63073','81003','73873', '66057','51184','51195','45676','92696', '70450','90669','98338','25264','38919', '59226','58581','60298','17895','19489', '52301','80846','95464','68770','51634', '19988','18367','18421','11618','67975', '25494','41352','95430','15734','62585', '97173','33773','10425','75675','53535', '17879','41967','12197','67998','79658', '59130','72592','14851','43933','68101', '50636','25717','71286','24660','58058', '72991','95042','15543','33122','69280', '11912','59386','27642','65177','17672', '33467','64592','36335','54010','18767', '63193','42361','49254','33113','33159', '36479','59080','11855','81963','31016', '49140','29392','41836','32958','53163', '13844','73146','23952','65148','93498', '14530','46131','58454','13376','13378', '83986','12320','17193','59852','46081', '98533','52389','13086','68843','31013', '13261','60560','13443','45533','83583', '11489','58218','19753','22911','25115', '86709','27156','32669','13123','51933', '39214','41331','66943','14155','69998', '49101','70070','35076','14242','73021', '59494','15782','29752','37914','74686', '83086','34473','15751','81084','49230', '91894','60624','17819','28810','63180', '56224','39459','55233','75752','43639', '55349','86057','62361','50788','31830', '58062','18218','85761','60083','45484', '21204','90229','70041','41162','35390', '16364','39500','68908','26689','52868', '81335','40146','11340','61527','61794', '71997','30415','59004','29450','58117', '69952','33562','83833','27385','61860', '96435','48333','23065','32961','84919', '61997','99132','22815','56600','68730', '48017','95694','32919','88217','27116', '28239','58032','18884','16791','21343', '97462','18569','75660','15475') intersect select ca_zip from (SELECT substr(ca_zip,1,5) ca_zip,count(*) cnt FROM customer_address, customer WHERE ca_address_sk = c_current_addr_sk and c_preferred_cust_flag='Y' group by ca_zip having count(*) > 10)A1)A2) V1 where ss_store_sk = s_store_sk and ss_sold_date_sk = d_date_sk and d_qoy = 2 and d_year = 1998 and (substr(s_zip,1,2) = substr(V1.ca_zip,1,2)) group by s_store_name order by s_store_name limit 100;
Query 5: select case when (select count(*) from store_sales where ss_quantity between 1 and 20) > 1071 then (select avg(ss_ext_tax) from store_sales where ss_quantity between 1 and 20) else (select avg(ss_net_paid_inc_tax) from store_sales where ss_quantity between 1 and 20) end bucket1 , case when (select count(*) from store_sales where ss_quantity between 21 and 40) > 39161 then (select avg(ss_ext_tax) from store_sales where ss_quantity between 21 and 40) else (select avg(ss_net_paid_inc_tax) from store_sales where ss_quantity between 21 and 40) end bucket2, case when (select count(*) from store_sales where ss_quantity between 41 and 60) > 29434 then (select avg(ss_ext_tax) from store_sales where ss_quantity between 41 and 60) else (select avg(ss_net_paid_inc_tax) from store_sales where ss_quantity between 41 and 60) end bucket3, case when (select count(*) from store_sales where ss_quantity between 61 and 80) > 6568 then (select avg(ss_ext_tax) from store_sales where ss_quantity between 61 and 80) else (select avg(ss_net_paid_inc_tax) from store_sales where ss_quantity between 61 and 80) end bucket4, case when (select count(*) from store_sales where ss_quantity between 81 and 100) > 21216 then (select avg(ss_ext_tax) from store_sales where ss_quantity between 81 and 100) else (select avg(ss_net_paid_inc_tax) from store_sales where ss_quantity between 81 and 100) end bucket5 from reason where r_reason_sk = 1 ;
Query 6: select cd_gender, cd_marital_status, cd_education_status, count(*) cnt1, cd_purchase_estimate, count(*) cnt2, cd_credit_rating, count(*) cnt3, cd_dep_count, count(*) cnt4, cd_dep_employed_count, count(*) cnt5, cd_dep_college_count, count(*) cnt6 from customer c,customer_address ca,customer_demographics where c.c_current_addr_sk = ca.ca_address_sk and ca_county in ('Fairfield County','Campbell County','Washtenaw County','Escambia County','Cleburne County') and cd_demo_sk = c.c_current_cdemo_sk and exists (select * from store_sales,date_dim where c.c_customer_sk = ss_customer_sk and ss_sold_date_sk = d_date_sk and d_year = 2001 and d_moy between 3 and 3+3) and (exists (select * from web_sales,date_dim where c.c_customer_sk = ws_bill_customer_sk and ws_sold_date_sk = d_date_sk and d_year = 2001 and d_moy between 3 ANd 3+3) or exists (select * from catalog_sales,date_dim where c.c_customer_sk = cs_ship_customer_sk and cs_sold_date_sk = d_date_sk and d_year = 2001 and d_moy between 3 and 3+3)) group by cd_gender, cd_marital_status, cd_education_status, cd_purchase_estimate, cd_credit_rating, cd_dep_count, cd_dep_employed_count, cd_dep_college_count order by cd_gender, cd_marital_status, cd_education_status, cd_purchase_estimate, cd_credit_rating, cd_dep_count, cd_dep_employed_count, cd_dep_college_count limit 100;
Query 7: select  i_item_id ,i_item_desc ,i_category ,i_class ,i_current_price ,sum(ws_ext_sales_price) as itemrevenue ,sum(ws_ext_sales_price)*100/sum(sum(ws_ext_sales_price)) over (partition by i_class) as revenueratio from web_sales ,item ,date_dim where ws_item_sk = i_item_sk and i_category in ('Men', 'Books', 'Electronics') and ws_sold_date_sk = d_date_sk and d_date between cast('2001-06-15' as date) and date_add(cast('2001-06-15' as date), interval 30 day) group by i_item_id ,i_item_desc ,i_category ,i_class ,i_current_price order by i_category ,i_class ,i_item_id ,i_item_desc ,revenueratio limit 100;
Query 8: select avg(ss_quantity) ,avg(ss_ext_sales_price) ,avg(ss_ext_wholesale_cost) ,sum(ss_ext_wholesale_cost) from store_sales ,store ,customer_demographics ,household_demographics ,customer_address ,date_dim where s_store_sk = ss_store_sk and  ss_sold_date_sk = d_date_sk and d_year = 2001 and((ss_hdemo_sk=hd_demo_sk and cd_demo_sk = ss_cdemo_sk and cd_marital_status = 'M' and cd_education_status = 'College' and ss_sales_price between 100.00 and 150.00 and hd_dep_count = 3 )or (ss_hdemo_sk=hd_demo_sk and cd_demo_sk = ss_cdemo_sk and cd_marital_status = 'D' and cd_education_status = 'Primary' and ss_sales_price between 50.00 and 100.00 and hd_dep_count = 1 ) or (ss_hdemo_sk=hd_demo_sk and cd_demo_sk = ss_cdemo_sk and cd_marital_status = 'W' and cd_education_status = '2 yr Degree' and ss_sales_price between 150.00 and 200.00 and hd_dep_count = 1 )) and((ss_addr_sk = ca_address_sk and ca_country = 'United States' and ca_state in ('IL', 'TN', 'TX') and ss_net_profit between 100 and 200 ) or (ss_addr_sk = ca_address_sk and ca_country = 'United States' and ca_state in ('WY', 'OH', 'ID') and ss_net_profit between 150 and 300 ) or (ss_addr_sk = ca_address_sk and ca_country = 'United States' and ca_state in ('MS', 'SC', 'IA') and ss_net_profit between 50 and 250 )) ;
Query 9: select  ca_zip ,sum(cs_sales_price) from catalog_sales ,customer ,customer_address ,date_dim where cs_bill_customer_sk = c_customer_sk and c_current_addr_sk = ca_address_sk and ( substr(ca_zip,1,5) in ('85669', '86197','88274','83405','86475', '85392', '85460', '80348', '81792') or ca_state in ('CA','WA','GA') or cs_sales_price > 500) and cs_sold_date_sk = d_date_sk and d_qoy = 2 and d_year = 2001 group by ca_zip order by ca_zip limit 100;
Query 10: select count(distinct cs_order_number) as "order count" ,sum(cs_ext_ship_cost) as "total shipping cost" ,sum(cs_net_profit) as "total net profit" from catalog_sales cs1 ,date_dim ,customer_address ,call_center where d_date between '2002-4-01' and date_add(cast('2002-4-01' as date), interval 60 day) and cs1.cs_ship_date_sk = d_date_sk and cs1.cs_ship_addr_sk = ca_address_sk and ca_state = 'PA' and cs1.cs_call_center_sk = cc_call_center_sk and cc_county in ('Williamson County','Williamson County','Williamson County','Williamson County', 'Williamson County') and exists (select * from catalog_sales cs2 where cs1.cs_order_number = cs2.cs_order_number and cs1.cs_warehouse_sk <> cs2.cs_warehouse_sk) and not exists(select * from catalog_returns cr1 where cs1.cs_order_number = cr1.cr_order_number) order by count(distinct cs_order_number) limit 100;
Query 11: select  i_item_id ,i_item_desc ,s_state ,count(ss_quantity) as store_sales_quantitycount ,avg(ss_quantity) as store_sales_quantityave ,stddev_samp(ss_quantity) as store_sales_quantitystdev ,stddev_samp(ss_quantity)/avg(ss_quantity) as store_sales_quantitycov ,count(sr_return_quantity) as store_returns_quantitycount ,avg(sr_return_quantity) as store_returns_quantityave ,stddev_samp(sr_return_quantity) as store_returns_quantitystdev ,stddev_samp(sr_return_quantity)/avg(sr_return_quantity) as store_returns_quantitycov ,count(cs_quantity) as catalog_sales_quantitycount ,avg(cs_quantity) as catalog_sales_quantityave ,stddev_samp(cs_quantity) as catalog_sales_quantitystdev ,stddev_samp(cs_quantity)/avg(cs_quantity) as catalog_sales_quantitycov from store_sales ,store_returns ,catalog_sales ,date_dim d1 ,date_dim d2 ,date_dim d3 ,store ,item where d1.d_quarter_name = '2001Q1' and d1.d_date_sk = ss_sold_date_sk and i_item_sk = ss_item_sk and s_store_sk = ss_store_sk and ss_customer_sk = sr_customer_sk and ss_item_sk = sr_item_sk and ss_ticket_number = sr_ticket_number and sr_returned_date_sk = d2.d_date_sk and d2.d_quarter_name in ('2001Q1','2001Q2','2001Q3') and sr_customer_sk = cs_bill_customer_sk and sr_item_sk = cs_item_sk and cs_sold_date_sk = d3.d_date_sk and d3.d_quarter_name in ('2001Q1','2001Q2','2001Q3') group by i_item_id ,i_item_desc ,s_state order by i_item_id ,i_item_desc ,s_state limit 100;
Query 12: select  i_brand_id brand_id, i_brand brand, i_manufact_id, i_manufact, sum(ss_ext_sales_price) ext_price from date_dim, store_sales, item,customer,customer_address,store where d_date_sk = ss_sold_date_sk and ss_item_sk = i_item_sk and i_manager_id=14 and d_moy=11 and d_year=2002 and ss_customer_sk = c_customer_sk and c_current_addr_sk = ca_address_sk and substr(ca_zip,1,5) <> substr(s_zip,1,5) and ss_store_sk = s_store_sk group by i_brand ,i_brand_id ,i_manufact_id ,i_manufact order by ext_price desc ,i_brand ,i_brand_id ,i_manufact_id ,i_manufact limit 100 ;
Query 13: select  i_item_id ,i_item_desc ,i_category ,i_class ,i_current_price ,sum(cs_ext_sales_price) as itemrevenue ,sum(cs_ext_sales_price)*100/sum(sum(cs_ext_sales_price)) over (partition by i_class) as revenueratio from	catalog_sales ,item ,date_dim where cs_item_sk = i_item_sk and i_category in ('Books', 'Music', 'Sports') and cs_sold_date_sk = d_date_sk and d_date between cast('2002-06-18' as date) and date_add(cast('2002-06-18' as date), interval 30 day) group by i_item_id ,i_item_desc ,i_category ,i_class ,i_current_price order by i_category ,i_class ,i_item_id ,i_item_desc ,revenueratio limit 100;
Query 14: select  * from(select w_warehouse_name ,i_item_id ,sum(case when (cast(d_date as date) < cast('1999-06-22' as date)) then inv_quantity_on_hand else 0 end) as inv_before ,sum(case when (cast(d_date as date) >= cast('1999-06-22' as date)) then inv_quantity_on_hand else 0 end) as inv_after from inventory ,warehouse ,item ,date_dim where i_current_price between 0.99 and 1.49 and i_item_sk          = inv_item_sk and inv_warehouse_sk   = w_warehouse_sk and inv_date_sk    = d_date_sk and d_date between date_sub(cast('1999-06-22' as date), interval 30 day) and date_add(cast('1999-06-22' as date), interval 30 day) group by w_warehouse_name, i_item_id) x where (case when inv_before > 0 then inv_after / inv_before else null end) between 2.0/3.0 and 3.0/2.0 order by w_warehouse_name ,i_item_id limit 100;
Query 15: select i_item_id ,i_item_desc ,s_store_id ,s_store_name ,max(ss_net_profit) as store_sales_profit ,max(sr_net_loss) as store_returns_loss ,max(cs_net_profit) as catalog_sales_profit from store_sales ,store_returns ,catalog_sales ,date_dim d1 ,date_dim d2 ,date_dim d3 ,store ,item where d1.d_moy = 4 and d1.d_year = 1999 and d1.d_date_sk = ss_sold_date_sk and i_item_sk = ss_item_sk and s_store_sk = ss_store_sk and ss_customer_sk = sr_customer_sk and ss_item_sk = sr_item_sk and ss_ticket_number = sr_ticket_number and sr_returned_date_sk = d2.d_date_sk and d2.d_moy               between 4 and  10 and d2.d_year              = 1999 and sr_customer_sk = cs_bill_customer_sk and sr_item_sk = cs_item_sk and cs_sold_date_sk = d3.d_date_sk and d3.d_moy               between 4 and  10 and d3.d_year              = 1999 group by i_item_id ,i_item_desc ,s_store_id ,s_store_name order by i_item_id ,i_item_desc ,s_store_id ,s_store_name limit 100;
Query 16: select  i_item_id, avg(cs_quantity) agg1, avg(cs_list_price) agg2, avg(cs_coupon_amt) agg3, avg(cs_sales_price) agg4 from catalog_sales, customer_demographics, date_dim, item, promotion where cs_sold_date_sk = d_date_sk and cs_item_sk = i_item_sk and cs_bill_cdemo_sk = cd_demo_sk and cs_promo_sk = p_promo_sk and cd_gender = 'M' and cd_marital_status = 'W' and cd_education_status = 'Unknown' and (p_channel_email = 'N' or p_channel_event = 'N') and d_year = 2002 group by i_item_id order by i_item_id limit 100;
Query 17: select  * from (select avg(ss_list_price) B1_LP ,count(ss_list_price) B1_CNT ,count(distinct ss_list_price) B1_CNTD from store_sales where ss_quantity between 0 and 5 and (ss_list_price between 107 and 107+10 or ss_coupon_amt between 1319 and 1319+1000 or ss_wholesale_cost between 60 and 60+20)) B1, (select avg(ss_list_price) B2_LP ,count(ss_list_price) B2_CNT ,count(distinct ss_list_price) B2_CNTD from store_sales where ss_quantity between 6 and 10 and (ss_list_price between 23 and 23+10 or ss_coupon_amt between 825 and 825+1000 or ss_wholesale_cost between 43 and 43+20)) B2, (select avg(ss_list_price) B3_LP ,count(ss_list_price) B3_CNT ,count(distinct ss_list_price) B3_CNTD from store_sales where ss_quantity between 11 and 15 and (ss_list_price between 74 and 74+10 or ss_coupon_amt between 4381 and 4381+1000 or ss_wholesale_cost between 57 and 57+20)) B3, (select avg(ss_list_price) B4_LP ,count(ss_list_price) B4_CNT ,count(distinct ss_list_price) B4_CNTD from store_sales where ss_quantity between 16 and 20 and (ss_list_price between 89 and 89+10 or ss_coupon_amt between 3117 and 3117+1000 or ss_wholesale_cost between 68 and 68+20)) B4, (select avg(ss_list_price) B5_LP ,count(ss_list_price) B5_CNT ,count(distinct ss_list_price) B5_CNTD from store_sales where ss_quantity between 21 and 25 and (ss_list_price between 58 and 58+10 or ss_coupon_amt between 9402 and 9402+1000 or ss_wholesale_cost between 38 and 38+20)) B5, (select avg(ss_list_price) B6_LP ,count(ss_list_price) B6_CNT ,count(distinct ss_list_price) B6_CNTD from store_sales where ss_quantity between 26 and 30 and (ss_list_price between 64 and 64+10 or ss_coupon_amt between 5792 and 5792+1000 or ss_wholesale_cost between 73 and 73+20)) B6 limit 100;
Query 18: select i_item_id ,i_item_desc ,s_store_id ,s_store_name ,max(ss_quantity)        as store_sales_quantity ,max(sr_return_quantity) as store_returns_quantity ,max(cs_quantity)        as catalog_sales_quantity from store_sales ,store_returns ,catalog_sales ,date_dim             d1 ,date_dim             d2 ,date_dim             d3 ,store ,item where d1.d_moy               = 4 and d1.d_year              = 1998 and d1.d_date_sk           = ss_sold_date_sk and i_item_sk              = ss_item_sk and s_store_sk             = ss_store_sk and ss_customer_sk         = sr_customer_sk and ss_item_sk             = sr_item_sk and ss_ticket_number       = sr_ticket_number and sr_returned_date_sk    = d2.d_date_sk and d2.d_moy               between 4 and  4 + 3 and d2.d_year              = 1998 and sr_customer_sk         = cs_bill_customer_sk and sr_item_sk             = cs_item_sk and cs_sold_date_sk        = d3.d_date_sk and d3.d_year              in (1998,1998+1,1998+2) group by i_item_id ,i_item_desc ,s_store_id ,s_store_name order by i_item_id ,i_item_desc ,s_store_id ,s_store_name limit 100;
Query 19: select  sum(cs_ext_discount_amt)  as "excess discount amount" from catalog_sales ,item ,date_dim where i_manufact_id = 722 and i_item_sk = cs_item_sk and d_date between '2001-03-09' and date_add(cast('2001-03-09' as date), interval 90 day) and d_date_sk = cs_sold_date_sk and cs_ext_discount_amt > ( select 1.3 * avg(cs_ext_discount_amt) from catalog_sales ,date_dim where cs_item_sk = i_item_sk and d_date between '2001-03-09' and date_add(cast('2001-03-09' as date) , interval 90 day) and d_date_sk = cs_sold_date_sk ) limit 100;